API_KEY#
API_SECRET#
BACKEND_URL#
BASENAME#
CLOUD_NAME#
DATABASE_URL#
DEBUG#
ENDPOINT_SECRET#
FLASK_APP#
FLASK_APP_KEY#
FLASK_DEBUG#
FRONT_URL#
GOOGLE_API_KEY#
JWT_SECRET_KEY#
MAIL_PASSWORD#
MAIL_USERNAME#
PYTHON_VERSION#
STRIPE_API_KEY#
STRIPE_PUBLIC_KEY#
URL_SAFE_TIMED_SERIALIZER#
